<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<p>
	Title:<%= @book.title %>
</p>

<p>
	Body:<%= @book.body %>
</p>

<p>
	<%= link_to 'Edit', edit_book_path(@book) %>
	｜
	<%= link_to 'Back', books_path %>
</p>
